body{
  margin: 0;
  padding: 0;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  box-sizing: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form form{
  position: relative;
  width: 100%;
  margin-left: 550px;
}

legend{
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
fieldset{
  border: none;
  margin-bottom: 20px;
}
label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select,
.submit{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
input[type="file"]{
  padding: 5px;
}
button:hover{
  background-color: #45a049;
}
.submit{
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin-left: 18px;
  cursor: pointer;
  padding: 12px;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.main-container h1{
  margin-left: 32%;
}
@media (max-width: 800px){
  form{
    padding: 15px;
  }
  button .submit{
    font-size: 1rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select,
  .submit{
    font-size: 1rem;
  }
}